:root {
    --strong-cyan: hsl(172, 67%, 45%);

    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);

    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

    /*
    1. Use a more-intuitive box-sizing model.
    */
    *, *::before, *::after {
        box-sizing: border-box;
    }
    /*
        2. Remove default margin
    */
    * {
        margin: 0;
    }
    /*
        Typographic tweaks!
        3. Add accessible line-height
        4. Improve text rendering
    */
    body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        background-color: var(--strong-cyan);
        font-family: 'Space Mono', monospace;
    }
    /*
        5. Improve media defaults
    */
    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }
    /*
        6. Remove built-in form typography styles
    */
    input, button, textarea, select {
        font: inherit;
    }
    /*
        7. Avoid text overflows
    */
    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }

    h1, h2, h3 {
        line-height: 1.1;
    }
    .logo {
        position: absolute;
        top: 10%;
        left: 50%;

    }

    main {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    .container {
        width: 60%;
        background-color: white;
        display: flex;
        padding: 2%;
        gap: 5%;
        border: none;
        border-radius: 13px;
    }
    .bill {
        width: 50%;
    }
    input {
        border-radius: 5px;
        border: none;
        text-align: right;
    }
    .bill > label {
        color: var(--dark-grayish-cyan);
    }
    #bill {
        width: 100%;
        color: var(--very-dark-cyan);
        background-color: var(--very-light-grayish-cyan);
        padding: 2% 4%;
        margin-top: 2.5%;
        margin-bottom: 10%;
        font-size: 1.5rem;
    }
    #bill:focus {
        outline: none !important;
        border: 3px solid var(--strong-cyan);
    }
    .bill__input{
        position: relative;
    }
    #bill:hover {
        cursor: pointer;
    }
    .bill__input > img {
        position: absolute;
        top: 27%;
        left: 3%;
    }

    .bill input::placeholder {
        color: var(--dark-grayish-cyan);
    }
    
    .bill__tip > label {
        color: var(--dark-grayish-cyan);
    }

    .tip__buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3%;
        margin-top: 3%;
        margin-bottom: 8%;

    }
    #tip {
        width: 100%;
        background-color: var(--very-light-grayish-cyan);
        height: 80%;
        font-size: 1.5rem;
        color: var(--very-dark-cyan);
    }
    #tip::placeholder {
        text-align: center;
    }
    #tip:hover {
        cursor: pointer;
    }
    #tip:focus {
        outline: none !important;
        border: 3px solid var(--strong-cyan) !important;
        
    }
    #tip::placeholder {
        color: var(--very-dark-cyan) !important;
    }
    .tip__button {
        padding: 3%;
        color: white;
        background-color: var(--very-dark-cyan);
        border-radius: 5px;
        border: none;
        font-size: 1.5rem;
        margin-bottom: 7%;
    }
    .tip__button:hover {
        cursor: pointer;
        background-color: var(--strong-cyan);
    }
    .bill__people {
        position: relative;
        margin-top: 3%;
    }
    .bill__people > img {
        position: absolute;
        top: 27%;
        left: 3%;
    }
    #people {
        width: 100%;
        background-color: var(--very-light-grayish-cyan);
        padding: 2% 4%;
        font-size: 1.5rem;
        color: var(--very-dark-cyan);
    }
    #people:focus {
        outline: none ;
        border: 3px solid var(--strong-cyan);
    }
    #people::placeholder {
        color: var(--dark-grayish-cyan);

    }
    #people:hover {
        cursor: pointer;
    }

    .result {
        background-color: var(--very-dark-cyan);
        padding-top: 6%;
        padding-bottom:3% ;
        padding-left: 3%;
        padding-right: 3%;
        width: 50%;
        border-radius: 18px;
    }
    .result__tip {
        display: flex;
        justify-content: space-between;
    }
    .result__tip > p {
        color: white;
        font-size: 0.9rem;
        align-self: center;
    }
    .person{
        color: var(--dark-grayish-cyan);
    }
    .result-amount {
        color: var(--strong-cyan) !important;
        font-size: 3rem !important; 
    }
    .result__total {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    }
    .result__total > p {
        color: white;
        align-self: center;
        font-size: 0.9rem;
    }
    .reset {
        width: 100%;
        background-color: var(--strong-cyan);
        color: var(--very-dark-cyan);
        border-radius: 5px;
        border: none;
        padding: 1%;
        font-size: 1.3rem;
        margin-top: 35%;
        text-transform: uppercase;
    }
    .reset:hover {
        background-color: hsl(172, 97%, 45%);
        cursor: pointer;
    }
    .selected {
        background-color: hsl(172, 97%, 45%);
    }

    /* input error */
    .error {
        color: red;
        font-size: 0.8rem;
        margin-top: 2%;
        margin-bottom: 2%;
        position: relative;
        top: -90px;
        left: 300px;
    }
    .border-error {
        border: 1px solid red;
    }
    .hide {
        display: none;
    }
    
    
    @media (max-width: 768px) {
        .container {
            width: 100%;
            flex-direction: column;
            gap: 10%;
            margin-top: 130%;
            padding: 13% 7%;
        }
        .bill {
            width: 100%;
        }
        .tip__buttons {
            grid-template-columns: repeat(2, 1fr);
        }
        .result {
            width: 100%;
        }
        .result__tip {
            flex-direction: column;
        }
        .result__total {
            flex-direction: column;
        }
        .reset {
            margin-top: 10%;
        }
        .bill__people {
            margin-bottom: 10%;
        }
        footer {
            display: none;
        }
    }




